*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body {
    background-color: #1E3E62;
}

/* navbar */
.navbar-custom {
    background-color: #fb8500;
}

/* main-content-inicio */
 
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 6 / span 6;
    
} 

.div1 h1 {
    text-align: center;
    font-size: 120px;
    color: #000000;
} 

.div1 p {
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 10px 0px 5px 5px;
    justify-self: center;
} 

.div2 img {
    height: 540px;
    border-radius: 5%;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 5;
    justify-self: center;
}
.div3 img {
    height: 420px;
    border-radius: 5%;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
    justify-self: center;
}
.div4 img {
    height: 420px;
    border-radius: 5%;
}
.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 5;
    justify-self: center;
} 
.div5 img {
    height: 420px;
    border-radius: 5%;
}


.div6 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 8;
    justify-self: center;
}

.div6 img {
    height: 640px;
    border-radius: 5%;
}

/* buttons-inicio */
.button-main {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.button-custom {
  background-color: #fb8500;   
  color: #000000;                 
  border: none;                
  padding: 12px 24px;          
  font-size: 16px;             
  border-radius: 8px;          
  cursor: pointer;             
  transition: all 0.3s ease;   
}

.button-custom :hover {
  background-color: #e4ddd7; 
  transform: scale(1.05);
}

.button-custom a {
    text-decoration: none;
    color: #000000;
}
/* main-content-historia */
.parent-historia {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    
.div1-historia {
    grid-column: span 5 / span 5;
    margin: 70px 0px 0px 0px;
}

.div1-historia h1 {
    text-align: center;
    font-size: 120px;
    color: #000000;
}

.div1-historia p {
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.div2-historia{
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    padding:120px;
    background-color: #e4ddd7;
    border-radius: 2%;
    margin-bottom: 20px;
}

.div2-historia p {
    text-align: justify;
    font-size: 18px;
    color: #000000;
}
.div3-historia {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
}

.imagen-historia {
    justify-self: center;
}

.imagen-historia img {
    height: 640px;
    border-radius: 5%;
}
/* main-content-integrantes */

    h1 {
      font-size: 60px;
      text-align: center;
      color: #000000;
      margin: 100px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
      max-width: 1200px;
      margin: auto;
    }

    .card-integrantes {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      overflow: hidden;
      transition: transform 0.2s;
    }

    .card-integrantes:hover {
      transform: scale(1.05);
    }

    .card-integrantes img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .card-content {
      padding: 15px;
    }

    .card-content h2 {
      margin: 0;
      font-size: 1.5rem;
      color: #333;
    }

    .card-content p {
      font-size: 0.95rem;
      color: #555;
      margin-top: 10px;
      line-height: 1.5;
    }

/* footer */

.footer-custom {
   background-color: #000000;
}

.p-custom-footer{
    color: white;
}

.card-custom {
    max-width: 880px;
  }
